@import url('../fonts/stylesheet.css');

html {
	background: #FFF 
	url('../images/grid_wallpaper.png') fixed;
	background-size: cover;

	font-family: 'amplitudewide-regularregular', san-serif;
	color: #000000;
}
body {
	background-color: #FFFFFF;
	width: 980px;	
	margin: 0 auto;	
	margin-top: 54px;
	display: grid;
	grid-template-rows: 30px auto 0;
	grid-template-columns: 20% auto;
	grid-gap: 10px;
}
header {
	background-color: #FFFFFF;
	color: #BC8034;
/* 
	grid-row: 1 / span 1;
	grid-column: 1 / span 2;
 */
}
body > nav {
	color: #AB947E;
	font-family: 'amplitudewide-lightlight', san-serif;
	grid-row: 2 / span 1;
	grid-column: 1 / span 1;
	line-height: 1.6em;
	margin-left: 20px;
}
nav a {
	text-decoration: none;
	color: #414535;
	display: block;
}
nav a:hover {
	color: #000;
	background-color: #F6C5AF;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	
}
nav ul ul {
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 1em;
}
nav ul li {
	margin-bottom: 0;
	margin-right: .25em;
	/* overflow: hidden; */
}
nav > ul > li {
	display: block;
	position: relative;
}
.drop:hover .menu {
	display: block;
}
.menu {
	display: none;
}
main {
	grid-row: 2 / span 1;
	grid-column: 2 / span 1;
}

h1 {
	color: #000000;
	margin: 0px;
	font-size: 1.8rem;
	font-style: normal;
}
h2 {
	color: #7F2B35;
	font-size: 1.2rem;
	margin-bottom: .25em;
}
h2 + h3 {
	margin-top: 0;
}
p {
	line-height: 115%;
	margin-right: 10px;
}

h3 {
	color: #B36500;
	font-size: 1rem;
	margin-bottom: .25em;
}
h3 + p {
	margin-top: 0;
}
.hilight {
	color: #C2714F;
}
.hilight:hover {
	color: #F6C5AF;
}
.icons {
	height: 20px;
	width: auto;
	margin: 10px;
}
body > footer {
	color: #000;
	background-color: #FFFFFF;
	padding: 30px;
	margin-bottom: 50px;
	font-size: .7rem;
	text-align: right;
	grid-row: 3 / span 1;
	grid-column: 1 / span 2;

}
main footer {
	margin-bottom: 1em;
}
footer address {
	font-style: normal;
	font-size: .8rem;
}