@import url('../fonts/stylesheet.css');

html {
	background: #FFF 
	color: #000000;
}
body {
	background-color: #FFFFFF;
}

body > nav {
	color: #AB947E;
}

nav ul {
	margin: 10;
	padding: 0;
	list-style-type: none;
}
ul {
	list-style-type: none;
}

h1 {
	color: DarkBlue;
	margin: 0px;
	font-size: 1.8rem;
	font-style: normal;
}
h2 {
	color: DarkGreen;
	font-size: 1.2rem;
	margin-bottom: .25em;
}

h3 {
	color: purple;
}

p {
 	line-height: 110%;
 	margin-bottom: 20px;
 }