@import url('../fonts/stylesheet.css');

html {
	background-color: whitesmoke;
	color: #000000;
}
body {
    font-family: 'Righteous','Josefin Sans', sans-serif;
    margin-top: 5%;
    max-width: 800px;
    margin: 0 auto;
}
.nav0{
    text-align: center;
    margin-top: 10px; 
    font-weight: bold;
}
.container{
    height: 200px;
    text-align: center;
}
.nav {
    text-align: center;
    margin-bottom: 10px;
    width: 25%;    
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
}

.nav ul {
	margin: 10;
	padding: 0;
	list-style-type: none;
    padding: 14px 50px;
    color: black;
}

ul li{
    margin: .5em;
    font-weight: bold;
    font-size: 1em;
}
.nav2{
    text-align: center;
    width: 25%;
    margin-bottom: 10px;   
    font-weight: bold;
    font-weight: bold;
    display: inline-block;
}
.nav2 ul {
/*	margin: 10;*/
	padding: 0;
	list-style-type: none;
    padding: 14px 50px;
    color: #97CC04;
}

b{
    color:#554640;
    font-size: 1.5em;
}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: cadetblue;
}

h1 {
	color: black;
	margin: 0px;
	font-size: 1.8em;
	font-style: normal;
    text-align: center;
}
h2 {
	color: black;
	font-size: 1.4rem;
	margin-bottom: .25em;
    text-align: center;
}

h3 {
	color: purple;
}

p {
 	line-height: 120%;
 	margin-bottom: 20px;
    text-align: center;
    font-size: 1em;
 }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 600px){
    .nav, .nav2 {
        font-size: 20px;
        letter-spacing: 0px;
        text-align: center;
        display: inline;
        margin-bottom: 0px;
    }
    .container{
        height: 300px;
    }
}